body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: lightskyblue;
  padding-top: 100px;
}
h1 {
  color: #333;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}
button:hover {
  background-color: #45a049;
  transform: scale(1.2);
}
#result {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
